@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #2D2D2D;
  font-family: 'Handlee', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mt-1{
  margin-top: 16vh;
}
.mt-4{
  margin-top: 2vh;
}
.correct{
  pointer-events: none;
  background: #00BF63 !important;
}
.worring{
  pointer-events: none;
  background: #FA0000 !important;
}